body {
    background-color: #fff;
    font-family: aileron;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
    color: #666;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h3 {
    text-transform: capitalize;
}

p {
    margin: 0;
}

.clear {
    clear: both;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.title-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    margin-top: 10%;
}

.title-wrapper h1 {
    font-size: 56px;
    color: #fff;
    opacity: 0.9;
}

.banner-wrapper {
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

.parallax {
    /* The image used */
    background-image: url("img/slider-03.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

. site-content {
    padding-top: 0;
    padding-bottom: 0;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.panel-grid {
    position: relative;
    overflow: hidden;
}

.box-icon {
    text-align: center;
    margin-bottom: 50px;
}

.panel-grid-cell {
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 50%;
}

.list-menu {
    color: #fff;
    text-align: center;
    padding: 30px;
    margin-bottom: 45px;
    background-size: cover;
}

.list-product {
    position: relative;
    padding: 10px 15px;
    margin-bottom: 10px;
}

.list-menu-content {
    margin: 0 -15px;
}

.list-menu-content li {
    list-style: none;
}

.list-product-title {
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
}

.list-product-title span {
    background: #fff;
    position: relative;
    z-index: 9;
    padding-right: 5px;
}

.list-product-title .dotted {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    border: 0;
    height: 1px;
    display: block;
    background: 0 0;
    border-bottom: 1px dashed #999;
}

.list-product-price span.price {
    font-size: 16px;
    line-height: 1.6em;
    color: #333;
    font-weight: 700;
}

.list-product-price span {
    display: block;
}

.list-product-price {
    position: absolute;
    text-align: right;
    right: 15px;
    top: 8px;
    background: #fff;
    z-index: 9;
    padding-left: 3px;
}

.list-product-active {
    border: 1px solid #ffb606;
    border-radius: 4px;
}

.list-product-active .order-product {
    background: #ffb606;
    color: #2a2a2a;
    position: absolute;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 700;
}

.login,
.user-profile {
    display: none;
}

.logout {
    margin-top: 8px
}

.local-info {
    margin-top: 10px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 100%;
    border-top: 6px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    /*    display: none;*/
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.err-panel {
    display: block;
    padding: 13px 15px;
    float: left;
    color: red;
}

.counter {
    display: none;
    padding-bottom: 30px;
}

.counter .minus {
    background: url(img/counter.png) 0 0;
}

.counter .minus:hover {
    background-position: -1px -31px;
}

.counter .plus {
    background: url(img/counter.png) -40px 0;
}

.counter .plus:hover {
    background-position: -41px -31px;
}

.counter span {
    float: left;
    width: 23px;
    height: 23px;
}

.counter .number_dishes {
    float: left;
    width: 34px;
    border: none;
    text-align: center;
    padding: 0;
    height: 23px;
    font: 16px/24px cuprum;
}

.user-name {
    padding: 12px 12px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    float: left;
}


/*---------- Cart ---------*/

#myBtn {
    background: #ffb606;
    color: #2a2a2a;
    border: none;
    padding: 0 10px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}